.csr-events span{
    padding-top:60px;
    color:#be8553!important;
}
.csr-events .spanborder{
    width: 81px;
    border-top: 2px solid #be8553;
    position: absolute;
    left:55px;
    top: 28px;
}
.csr-events h2{
    font-size: 30px;
    font-weight: 600;
}
.csr-events-info span{
    padding-top:60px;
    color:#be8553!important;
}
.csr-events-info .spanborder{
    width: 81px;
    border-top: 2px solid #be8553;
    position: absolute;
    left:270px;
    top: 12px;
}
.csr-events-info h3{
    font-size:25px;
    font-weight: 600;
}
.csr-events-img{
    border:1px solid #be8553;
    border-radius: 20px;
    transition:.5s;
    overflow: hidden;
}
.csr-events-img img{
    width:100%;
    height:100%;
    border-radius: 20px;
    transform: scale(1,1);
}
.csr-events-img:hover img{
    transform:scale(1.1,1.1);
}
.supdate h2{
    font-size:30px;
    font-weight: 600;
}
.supdate-box{
    background-color: #f4efeb;
    border-radius: 10px;
    
}
.supdate-box h4{
    color:#32343b!important;
    font-size: 20px;
    font-weight: 600;
}
.supdate-box h6{
    color:#be8553!important;
    font-size: 14px;
    font-weight: 600;
}
.supdate-box p{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-clamp:2;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.supdate-box-img{
    width:300px;
    height:200px;
    border:1px solid #be8553;
    border-radius: 10px;
    margin-top: -50px!important;
    margin-bottom:20px;
    transition: .5s;
    overflow: hidden;
}
.supdate-box-img img{
    width:100%;
    height:100%;
    border-radius: 10px;
    transform:scale(1,1);
}
.supdate-box-img:hover img{
    transform: scale(1.1);
}